<h1 class="text-center">Modifier l'événement</h1>

<%= render 'form', event: @event %>

<div class="text-center">
<%= link_to 'Afficher', @event, class: "btn btn-primary" %>
<%= link_to 'Lister', events_path, class: "btn btn-primary" %>
</div>
