<p id="notice"><%= notice %></p>
<% @titre_page = 'Liste des evenements' %>
<h4 class="text-center"> <em> Liste des événements </em></h4>



<div class="container">

<% anc_debut_jour = nil %>

<% @events.each do |event| %>
<!-- Regrouper par dates  -->
      <% if event.debut_jour != anc_debut_jour %>
        <div class ="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">  <%= event.debut_jour %> </div>
        </div>
        <hr size="1" color="orange">
      <% end %>

        <%= render "events/ligne", :event => event %>
      <% anc_debut_jour = event.debut_jour %>
    <% end %>

</div>
</div>
</div>


<br>


    <a name="method-i-assoc"> </a>

    <p class="text-center">

    <%= link_to 'Ajouter un événement', new_event_path , class: "btn btn-primary"%>
    </p>
