<font color="#9A3619">
    <% @titre_page = 'Liste des evenements' %>
    <div>
        <h4 class="text-center"> <em> Liste des événements </em> </h4>
    </div>


    <div class="container">

        <% anc_debut_jour = nil %>

        <% @events.each do |event| %>
        <!-- Regrouper par dates  -->
            <% if event.debut_jour != anc_debut_jour %>
                <div class ="row">
                    <font color="#9A3619">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                            <font size=-1> <em> <%= event.debut_jour %> </em></font>
                        </div>
                    </font>
                </div>
            <% end %>

            <%= render "events/ligne", :event => event %>
            <% anc_debut_jour = event.debut_jour %>
        <% end %>

    </div>
</font>

<br>


    <a name="method-i-assoc"> </a>

    <p class="text-center">

    <%= link_to 'Ajouter un événement', new_event_path , class: "btn btn-primary"%>
    </p>
