
<p class="text-center  hidden-md hidden-lg" >
<%= image_tag "bandeaufbparis.jpg" , width: 300, :align=> "middle" %>
</p>

<p class="text-center  hidden-xs hidden-sm" >
<%= image_tag "bandeaufbparis.jpg" %>
</p>

<br>
<br>
<br>

<h2 class= "text-center">Page de contact de Neesyu </h2>
<div class="alert alert-danger" role="alert">
    <h2>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only text-center"></span>
        Site en test
    </h2>
</div>
<div class="container">
    <row>
        <div class="col-md-8 col-md-offset-2" >
                            <br>
              <br>

              <p class="text-center">
              <%= link_to "Pour l instant c est par la page Facebook", "https://www.facebook.com/NeesyuParis/" %>

              </p>
        </div>
    </row>
</div>


<p class="text-center">
<%= link_to "Liste des événements", events_path, class: "btn btn-primary" %>
</p>
