<p class="text-center  hidden-md hidden-lg" >
<%= image_tag "bandeaufbparis.jpg" , size: "360x100" %>
</p>

<p class="text-center  hidden-xs hidden-sm" >
<%= image_tag "bandeaufbparis.jpg" %>
</p>

<br>
<br>
<br>

<h1 class= "text-center">Bienvenue sur Neesyu</h1>
<div class="container">
    <row>
        <div class="col-md-8 col-md-offset-2" >
              <p class="text-center">L'agenda parisien complet pour danser et s'épanouir.
              Vous trouverez ici tous les activités sur Paris des danses de 5 Rythmes, Mouvment Medecine et Openfloor ... pour commencer.
              </p>

              <p class="text-center">
              Ceci est un site en cours de construction donc il y a des améliorations à réaliser, et nous y travaillons ... mais peut-être qu'il peut déjà vous rendre service. En résumé, si vous en êtes content, remerciez-le et s'il vous contrarie, soyez indulgent. Merci ... et que les dieux de la danse vous transportent.
                        <div class="badge badge-blue">42</div>

              </p>
        </div>
    </row>
</div>


<p class="text-center">
<%= link_to "Liste des événements", events_path, class: "btn btn-primary" %>
</p>

