<div class="container">


<p class="text-center  hidden-md hidden-lg" >
<%= image_tag "bandeaufbparis.jpg" , width: 300, :align=> "middle" %>
</p>

<p class="text-center  hidden-xs hidden-sm" >
<%= image_tag "bandeaufbparis.jpg" %>
</p>

<br>
<br>
<br>

<h1 class= "text-center">Bienvenue sur Smihug </h1>
<h2 class= "text-center">"SMIle for life, HUG people"</h2>

<div class="container">
    <row>
        <div class="col-md-8 col-md-offset-2" >
                            <br>
              <br>

              <p class="text-center">
              L'agenda parisien pour danser et s'épanouir.
              Vous trouverez ici toutes les activités sur Paris des danses des 5 Rythmes, Movement Medecine et Openfloor ... et autres pratiques pour s'épanouir.
              <br>
              Ce site est en évolution permanente. Le design a été conçu d'abord pour les mobiles avec les fonctionalités de base, le reste suivra après.
                <br><br>
              Belle journée et que la magie de la danse nous arrose de sa joie d'être.


              </p>
        </div>
    </row>
</div>
</div>

