
<p class="text-center  hidden-md hidden-lg" >
<%= image_tag "bandeaufbparis.jpg" , size: "360x100" %>
</p>

<p class="text-center  hidden-xs hidden-sm" >
<%= image_tag "bandeaufbparis.jpg" %>
</p>

<br>
<br>
<br>

<h1 class= "text-center">Bienvenue sur Neesyu</h1>
<div class="container">
    <row>
        <div class="col-md-8 col-md-offset-2" >
              <p class="text-center">L'agenda parisien pour danser et s'épanouir.
              Vous trouverez ici toutes les activités sur Paris des danses de 5 Rythmes, Mouvment Medecine et Openfloor ... pour commencer.
              Ceci site est en cours de construction, vos remarques et suggestions sont les bienvenues.
              Que les dieux de la danse nous transportent.
              </p>
        </div>
    </row>
</div>


<p class="text-center">
<%= link_to "Liste des événements", events_path, class: "btn btn-primary" %>
</p>

