<div class="container">


<p class="text-center  hidden-md hidden-lg" >
<%= image_tag "bandeaufbparis.jpg" , width: 300, :align=> "middle" %>
</p>

<p class="text-center  hidden-xs hidden-sm" >
<%= image_tag "bandeaufbparis.jpg" %>
</p>

<br>
<br>
<br>

<h1 class= "text-center">Bienvenue sur Neesyu </h1>
<div class="alert alert-danger" role="alert">

    <h2>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only text-center"></span>      Site en évolution rapide
    </h2>
</div>
<div class="container">
    <row>
        <div class="col-md-8 col-md-offset-2" >
                            <br>
              <br>

              <p class="text-center">
              L'agenda parisien pour danser et s'épanouir.
              Vous trouverez ici toutes les activités sur Paris des danses des 5 Rythmes, Movement Medecine et Openfloor ... et autres pratiques pour s'épanouir.
              <br>
              Ce site est évolution permanente. Le design a été conçu d'abord pour les mobiles avec les fonctionalités de base, le reste suivra après.
                <br><br>
              Belle journée et que la magie de la danse nous arrose de sa joie d'être.


              </p>
        </div>
    </row>
</div>
</div>

