<h1 class= "text-center">Bienvenue sur Neesyu</h1>
<p class="text-center">L'agenda parisien complet pour danser et s'épanouir. <br>
<%= link_to "Liste des événements", events_path, class: "btn btn-primary" %>
</p>
