<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé à réinitialiser votre mot de passe. Vous pouvez le faire en suivant le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas demandé à le faire, alors ne tenez pas compte de ce mail.</p>
<p>Votre mot de passe ne changera pas tant que vous n'activez pas le lien ou en créez un autre.</p>
